/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 1 Dec, 2018, 8:09:20 PM
    Author     : raisa
*/

.notification:hover {
  background: red;
}

.notification .badge {
  position: absolute;
  top: 90px;
  right: 75px;
  padding: 5px 10px;
  border-radius: 50%;
  background: red;
  color: white;
}